@model List<BucStop.Models.Game>
<!-- This is the games list page. Each of the games is loaded in from the model using the game's ID value -->
<h1>List of Games</h1>

<div class="row gy-4" style="margin-left: 20px; margin-right: 20px;">
    <!-- Goes through the list of games held in the Game model and lists the pertinent information.-->
    @foreach (var game in Model)
    {
        <div class="col-sm-3 d-flex">
            <div class="card">
                <div class="popup" onclick="myFunction('@game.Id')">
                    <img src="@game.Thumbnail" class="card-img-top">
                    <h5 class="card-title">@game.Title</h5>
                    <span class="popuptext" id="popup-@game.Id">
                        <a href="@Url.Action("Play", "Games", new { id = game.Id })" style="text-decoration: none;">
                            Play
                        </a>
                        <p class="card-text"><small class="text-muted">@game.Description</small></p>
                        <p class="text-muted">Play Count: @game.PlayCount</p>
                    </span>
                </div>
            </div>
        </div>
        <!--
        <div class="col-sm-3 d-flex">
            <div class="card">
                <div class="popup" onclick="myFunction()">
                    <img src="@game.Thumbnail" class="card-img-top">
                    <h5 class="card-title">@game.Title</h5>
                    <span class="popuptext" id="myPopup">
                        <a href="@Url.Action("Play", "Games", new { id = game.Id })" style="text-decoration: none;">
                            Play
                        </a>
                        <p class="card-text"><small class="text-muted">@game.Description</small></p>
                        <p class="text-muted">Play Count: @game.PlayCount</p>
                    </span>
                </div>
            </div>
        </div>-->
    }
</div>
<script>
    // When the user clicks on <div>, open the popup
    function myFunction(gameId) {
        // Close all popups first
        var popups = document.getElementsByClassName("popuptext");
        for (var i = 0; i < popups.length; i++) {
            popups[i].classList.remove("show");
        }

        // Then open the popup associated with the clicked game
        var popup = document.getElementById("popup-" + gameId);
        popup.classList.toggle("show");
    }
</script>